<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>all</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>100</integer>
			<key>title</key>
			<string>Commit Selected</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>101</integer>
			<key>title</key>
			<string>Commit All</string>
		</dict>
	</array>
	<key>new</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>0</integer>
			<key>title</key>
			<string>Add Selected</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>title</key>
			<string>Add All</string>
		</dict>
	</array>
	<key>missing</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>10</integer>
			<key>title</key>
			<string>Delete Selected</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>11</integer>
			<key>title</key>
			<string>Delete All</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>20</integer>
			<key>title</key>
			<string>Revert Selected</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>21</integer>
			<key>title</key>
			<string>Revert All</string>
		</dict>
	</array>
	<key>modified</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>20</integer>
			<key>title</key>
			<string>Revert Selected</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>21</integer>
			<key>title</key>
			<string>Revert All</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>100</integer>
			<key>title</key>
			<string>Commit Selected</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>101</integer>
			<key>title</key>
			<string>Commit All</string>
		</dict>
	</array>
	
</dict>
</plist>


